data/
!data/stage_2_data/train_small.csv
.idea/
result/
result/stage_1_result/DT_prediction_result_1
result/stage_1_result/MLP_prediction_result_1
code_src/base_class/__pycache__/__init__.cpython-39.pyc
/result/stage_1_result/
*.pyc
result/stage_1_result/DT_prediction_result_1
result/stage_1_result/DT_prediction_result_2
result/stage_1_result/DT_prediction_result_3
result/stage_1_result/MLP_prediction_result_2
result/stage_1_result/DT_prediction_result_1
result/stage_1_result/DT_prediction_result_2
result/stage_1_result/DT_prediction_result_3
result/stage_1_result/MLP_prediction_result_1
result/stage_1_result/MLP_prediction_result_2
result/stage_1_result/MLP_prediction_result_3
.idea/misc.xml
.idea/ECS189G_Winter_2022_Source_Code.iml
